
.viewer-container {
  display: flex;
  width: 100vw;
  height: 100vh;

  .model-viewer {
    height: 100%;
    flex: 1 1 auto;
  }

  .viewer-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 25%;
    right: 30px;
    background-color: transparent;
    border: none;
    border-radius: 0.25rem;
    outline: 0;
    z-index: 1;

    &:hover {
      background-color: #ececec;
    }

    &:active {
      background-color: #e6e6e6;
    }

    &:active,
    &:focus {
      box-shadow: 0 0 0 2px rgba(33,108,170,.25);
    }
  }

  .refresh-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 35%;
    right: 30px;
    background-color: transparent;
    border: none;
    border-radius: 0.25rem;
    outline: 0;
    z-index: 1;

    &:hover {
      background-color: #ececec;
    }

    &:active {
      background-color: #e6e6e6;
    }

    &:active,
    &:focus {
      box-shadow: 0 0 0 2px rgba(33,108,170,.25);
    }
  }

  .detail-viewer {
    position: absolute;
    width: 300px;
    bottom: 0;
    right: 0;
    padding: 10px;
    text-align: center;
    background: rgba(227, 227, 227, 0.5);

    .chart {
      border: 1px solid #646464;
    }
  }
}

