/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink";
@import "~material-design-icons/iconfont/material-icons.css";
@import "~bootstrap/dist/css/bootstrap.css";

@import url(https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,300;0,700;1,300&display=swap);

html {
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

html,
body {
  margin: 0;
  padding: 0;
}
